footer {
  margin: 0 auto;
  padding: 3.125rem 0 2.5rem 0;
  width: 100%;
  max-width: 69.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1150px) {
    padding: 3.125rem 1rem 2.5rem 1rem;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #000000;
}

.license {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: right;
  color: #000000;
}