.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 3rem 0;

  @media (max-width: 500px) {
    flex-direction: column;

    padding: 1rem;
  }

  &__copyright-license {}
}