.our-clients {
  background: #EBEBEB;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__slide {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-flow: wrap;

    @media (max-width:576px) {
      flex-flow: column wrap;
    }

    &-img {
      cursor: pointer;
      object-fit: cover;
    }
  }
}

.slider-overflow-auto {
  overflow: auto;
}