.our-clients {
  background: #EBEBEB;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    &-img {
      cursor: pointer;
      object-fit: cover;
    }
  }
}