.our-clients {
  background: #EBEBEB;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__slide {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 1rem;

    @media (max-width:768px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));

      picture {
        justify-content: center;
      }
    }

    @media (max-width:576px) {
      grid-template-columns: repeat(1, minmax(150px, 1fr));
      gap: 0;

      img {
        width: 100%;
      }
    }

    &-img {
      cursor: pointer;
      object-fit: cover;
    }
  }
}

.slider-overflow-auto {
  overflow: auto;
}