.our-services {
  background: #EBEBEB;
}

.our-services__container {

}

.container-x3 {
  display: grid;
  grid: repeat(auto-fit, minmax(10px, 1fr)) / 1fr 1fr 1fr;
  grid-gap: 1.875rem;

  @media (max-width: 768px) {
    grid: repeat(auto-fit, minmax(10px, 1fr)) / 1fr 1fr;
  }

  @media (max-width: 576px) {
    grid: repeat(auto-fit, minmax(10px, 1fr)) / 1fr;
  }
}

.our-services__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;

  // .our-services__img {
  //   width: 100%;
  //   height: 100%;
  // }

  .our-services__gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    position: absolute;
    z-index: 1;
  }

  p {
    position: absolute;
    padding: 2.8125rem;
    z-index: 1;

    @media (max-width: 550px) {
      margin: 0 auto;
    }

    @media (max-width: 419px) {
      padding: 0 0 2rem 0;
      text-align: center;
    }
  }
}

.our-services__item:hover .our-services__gradient {
  background: 0;
}