.our-services {
  background: #EBEBEB;
}

.container-x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.our-services__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  margin: 0 auto;
}

.our-services__img {
  max-width: 100%;
  max-height: 100%;
}

.our-services__gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  position: absolute;
  z-index: 1;

  &:hover {
    background: 0;
  }
}

.our-services__text {
  position: absolute;
  padding: 2.8125rem;
  z-index: 1;
  width: 100%;

  @media (max-width: 576px) {
    margin: 0 auto;
    padding: 0 0 2rem 0;
    text-align: center;
  }
}