// Шрифты

// Шрифты заголовков H2
@font-face {
  font-family: 'Lato-Black';
  src: url(fonts/Lato-Black.ttf);
  font-display: swap;
}

// Шрифт для меню и блока карточек "О нас"
@font-face {
  font-family: 'Lato-Bold';
  src: url(fonts/Lato-Bold.ttf);
  font-display: swap;
}

// Шрифт для основных текстов
@font-face {
  font-family: 'Lato-Light';
  src: url(fonts/Lato-Light.ttf);
  font-display: swap;
}

// Шрифт для блока инфо, кнопок и т.д.
@font-face {
  font-family: 'Lato-Regular';
  src: url(fonts/Lato-Regular.ttf);
  font-display: swap;
}

// Шрифт для логотипа и титров
@font-face {
  font-family: 'Merriweather-Black';
  src: url(fonts/Merriweather-Black.ttf);
  font-display: swap;
}

// Шрифт для первого экрана
@font-face {
  font-family: 'Merriweather-Bold';
  src: url(fonts/Merriweather-Bold.ttf);
  font-display: swap;
}

html,
body {
  font-size: 16px;

  @media (max-width: 430px) {
    font-size: 14px;
  }

  @media (max-width: 350px) {
    font-size: 12px;
  }
}

.underline {
  text-decoration-line: underline;
}

.font-lato-black {
  font-family: "Lato-Black";

  &-24-gray {
    font-family: "Lato-Black";
    font-size: 1.5rem;
    line-height: 33/24 * 100%;
    color: #BDBDBD;
    font-weight: 900;
  }

  &-55-uppercase-black {
    font-family: "Lato-Black";
    font-size: 3.4375rem;
    line-height: 66/55 * 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
  }

  &-24-white {
    font-family: "Lato-Black";
    font-size: 1.5rem;
    line-height: 30/24 * 100%;
    color: #FFFFFF;
    font-weight: 900;
  }

  &-18-black {
    font-family: "Lato-Black";
    font-size: 1.125rem;
    line-height: 25/18 * 100%;
    color: #000000;
    font-weight: 900;
  }
}

.font-lato-bold {
  font-family: "Lato-Bold";

  &-14-uppercase-black {
    font-family: "Lato-Bold";
    font-size: 0.875rem;
    line-height: 17/14 * 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
  }

  &-14-black {
    font-family: "Lato-Bold";
    font-size: 0.875rem;
    line-height: 18/14 * 100%;
    color: #000000;
    font-weight: 700;
  }

  &-14-blue {
    font-family: "Lato-Bold";
    font-size: 0.875rem;
    line-height: 17/14 * 100%;
    color: #005FA3;
    font-weight: 700;
  }
}

.font-lato-light {
  font-family: "Lato-Light";

  &-18-black {
    font-family: "Lato-Light";
    font-size: 1.125rem;
    line-height: 25/18 * 100%;
    color: #000000;
    font-weight: 300;
  }

  &-18-white {
    font-family: "Lato-Light";
    font-size: 1.125rem;
    line-height: 25/18 * 100%;
    color: #FFFFFF;
    font-weight: 300;
  }

  &-21-white {
    font-family: "Lato-Light";
    font-size: 1.3125rem;
    line-height: 29/21 * 100%;
    color: #FFFFFF;
    font-weight: 300;
  }

  &-21-gray {
    font-family: "Lato-Light";
    font-size: 1.3125rem;
    line-height: 29/21 * 100%;
    color: #BDBDBD;
    font-weight: 300;
  }

  &__14-black {
    font-family: "Lato-Light";
    font-size: 0.875rem;
    line-height: 19/14 * 100%;
    color: #000000;
    font-weight: 300;
  }
}

.font-lato-regular {
  font-family: "Lato-Regular";

  &-13-black {
    font-family: "Lato-Regular";
    font-size: 0.8125rem;
    line-height: 17/13 * 100%;
    color: #000000;
    font-weight: 400;
  }

  &-18-white {
    font-family: "Lato-Regular";
    font-size: 1.125rem;
    line-height: 25/18 * 100%;
    color: #FFFFFF;
    font-weight: 400;
  }

  &-14-gray {
    font-family: "Lato-Regular";
    font-size: 0.875rem;
    line-height: 19/14 * 100%;
    color: #4F4F4F;
    font-weight: 400;
  }

  &-16-white {
    font-family: "Lato-Regular";
    font-size: 1rem;
    line-height: 22/16 * 100%;
    color: #FFFFFF;
    font-weight: 400;
  }
}

.font-merriweather-black {
  font-family: "Merriweather-Black";

  &-36-blue {
    font-family: "Merriweather-Black";
    font-size: 2.25rem;
    line-height: 50/36 * 100%;
    color: #005FA3;
    font-weight: 900;
  }

  &-48-black {
    font-family: "Merriweather-Black";
    font-size: 3rem;
    line-height: 69/48 * 100%;
    color: #333333;
    font-weight: 900;

    @media (max-width:440px) {
      font-size: 2rem;
    }

    @media (max-width:380px) {
      font-size: 1.5rem;
    }
  }

  &-48-white {
    font-family: "Merriweather-Black";
    font-size: 3rem;
    line-height: 69/48 * 100%;
    color: #FFFFFF;
    font-weight: 900;
  }
}

.font-merriweather-bold {
  font-family: "Merriweather-Bold";

  &-48-black {
    font-family: "Merriweather-Bold";
    font-size: 3rem;
    line-height: 66/48 * 100%;
    font-weight: 700;
  }

  &-48-white {
    font-family: "Merriweather-Bold";
    font-size: 3rem;
    line-height: 66/48 * 100%;
    color: #FFFFFF;
    font-weight: 700;

    @media (max-width:440px) {
      font-size: 2rem;
    }

    @media (max-width:360px) {
      font-size: 1.5rem;
    }
  }
}