.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  max-width: 1110px;
  padding: 3rem 0;

  @media (max-width: 500px) {
    flex-direction: column;
    
    padding: 1rem;
  }

  &__copyright-license {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #000000;
  }
}