.info {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;

  @media (max-width: 630px) {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  @media (max-width: 500px) {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.9375rem;

    color: #000000;
    width: max-content;
  }

  &__img {
    @media (max-width: 648px) {
      height: 70%;
    }
  }

  &__text {
    // margin-left: 0.9375rem;
  }
}