.our-clients {
  background: #EBEBEB;
  width: 100%;

  .our-clients__wrap {
    max-width: 69.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 6.25rem 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 1150px) {
      padding: 6.25rem 1rem;
    }

    @media (max-width: 640px) {
      padding: 1rem;
    }

    .title {
      margin: 2.5rem 0 5rem 0;

      @media (max-width: 640px) {
        margin: .2rem 0;
      }
    }
  }
}

.our-clients .slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .slide {
    margin: 0 auto;
    // display: flex;
    // flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 100%;
    padding-bottom: 3.125rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;

    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;

    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr;
      padding: 0 3rem 1rem 3rem;
      gap: 0;
    }

    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}