@import "info";
@import "navigation";


.navigation-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 880px) {
    width: 100%;
  }

  @media (max-width: 340px) {
    display: none;
  }
}